@font-face {
    font-family: "Miracle";
    src: url("assets/fonts/Miracle Personal use.otf");
}

@font-face {
    font-family: "Dosis";
    src: url("assets/fonts/Dosis-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Dosis";
    src: url("assets/fonts/Dosis-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Dosis";
    src: url("assets/fonts/Dosis-ExtraLight.ttf");
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dosis";
    font-size: 50px;
    font-weight: 200;
}

h1 {
    font-family: "Miracle";
    font-size: 100px;
    font-weight: 100;
}